@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-seri;
}

body, html{
    background-color: greenyellow;
    display: grid;
    height: 100%;
    place-items: center;
}

.headline{
    font-size: 1.5rem;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    text-transform: capitalize;
}

.result{
    font-size: 1.5rem;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    text-transform: capitalize;
}

.container{
    width: 500px;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

form input{
    margin: 10px 0;
    outline: none;
    border: 1px solid;
}

form input.box{
    width: 400px;
    height: 40px;
    font-size: 1.2rem;
    padding: 0 10px;
}

form input.button{
    width: 100px;
    height: 40px;
    font-size: 1.4rem;
    padding: 12px 15px;
    background-color: rgba(16, 193, 243, 0.971);
    cursor: pointer;
}

h5{
    font-size: 1.2rem;
    background-color: #FFD4CD;
    width: 100%;
    padding: 10px 0;
}

.alerts{
    display: none;
}

.show{
    display : block;
}

.result{
    color: royalblue
}